<html>  
  <head>
    <title>Create User</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!--fontawesome-->
     <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <i class="fas fa-hand-lizard"></i>
        <button type="button" class="btn btn-primary btn-sm">submit!</button> 
      </div>

    <div class="row">
      <h3>Create your account</h3>
        <form>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Anthony Kedis" required>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="email" placeholder="ChiliPepper" required>
          </div> 
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="email" placeholder="r3dh0t123" required>
          </div>
        </form>
      </div>
    </div>

  </body>

</html>