<html>  
  <head>
    <title>Create User</title>
  </head>

  <body>
    <form>
      <!-- email -->
      <label>Email:</label>
      <input type="email" name="email" placeholder="Anthony Kedis" required>
      <!-- username -->
      <label>Username:</label>
      <input type="text" name="email" placeholder="ChiliPepper" required>
      <!-- password -->
      <label>Password:</label>
      <input type="password" name="email" placeholder="r3dh0t123" required>
      <!-- submit -->
     <input type="submit">Submit</input>
    </form>
  </body>

</html>