* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

.LandingPage-content {
  display: flex;
}

.LandingPage-signupBlock,
.LandingPage-communicationBlock {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 50%;
}

.LandingPage-communicationBlock {
  background-color: #1ba2e2d4;
  color: #FFF;
  order: 1;
}

.LandingPage-signupBlock {
  order: 2;
}

.LandingPage-communicationContent {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 450px;
}

.LandingPage-communication__item {
  font-weight: bold;
  margin-bottom: 50px;
}

.LandingPage-signupContent {
  margin: 0 auto;
  max-width: 350px;
}

.LandingPage-signup__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.LandingPage-signup__subtitle {
  font-weight: bold;
}

.LandingPage-signup-buttons {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}